python-jsonrpc-server==0.3.4
python-language-server==0.34.1
pytz==2020.1
requests==2.24.0
rope==0.17.0
rsa==4.5
scandir==1.10.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
snowballstemmer==2.0.0
sqlparse==0.2.4
supervisor==3.3.5
tensorboard==1.14.0
tensorflow==1.15.2
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminaltables==3.1.0
toml==0.10.1
traitlets==4.3.3
typing==3.7.4.3
ujson==1.35
uritemplate==3.0.1
urllib3==1.25.9
virtualenv==20.0.26
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
yapf==0.30.0
zipp==1.2.0